{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Economy
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides" style="height:500px">
    <ul class="slides-container">
        <li class="text-left">
            <img src="{% static 'images/bg1.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Lifestyle Electronics</strong></h1>
                        <p class="m-b-40">One Stop destination for all your electronic needs...</p>
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/bg2.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Lifestyle Electronics</strong></h1>
                        <p class="m-b-40">10% instant discount up to ₹ 10,000 on all products</p>
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/bg3.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Lifestyle Electronics</strong></h1>
                        <p class="m-b-40">Free shipping on all the products accross the world</p>
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<div class="mt-2">
    <div class="shadow p-2 rounded" style="background-color:#e9ecef; color:black">
        <div class="container">
            <div class="row text-center font-weight-bold">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products">Todos</a></p>
                </div>
                {% for category in categories %}

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products/?category={{category.id}}">{{category.category_name}}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Start Products  -->
<div class="products-box" style="padding:30px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Mejores Ofertas</h1>
                    <p style="color: black;">Las mejores ofertas en los supermercados las encontrarás en nuestras aplicaciones a la puerta de tu casa.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded border border-4">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <img src="{% static 'images/bg3.jpg' %}" class="img-fluid" alt="Image">
                    </div>
                    
                    <div class="why-text text-center font-weight-bold" style="height:155px;">
                        <h4><a href="#">{{product.product_name}}</a></h4>
                        <h5>$ {{product.price|intcomma}}</h5>
                        <div class="mt-4">
                            <a href="/products/" class="btn hvr-hover cart" style="color:white">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Products  -->

{% endblock %}